body {
    color: $text;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: $secondary;
    min-height: 100vh;
}

h1 {
    font-family: 'Satisfy', cursive;
}

main {
    max-width: 935px;
    margin: 0 auto;
    padding: 1.5rem 0;
}
